@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v20-latin-regular.woff2') format('woff2'),
       url('../fonts/open-sans-v20-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v20-latin-700.woff2') format('woff2'),
       url('../fonts/open-sans-v20-latin-700.woff') format('woff');
}


html {
  box-sizing: border-box;
  font-family: 'Open Sans', 'Arial', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
}
.container {
  max-width: 1300px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* header */

.header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
}

.top_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_link {
  margin-top: 18px;
  margin-bottom: 18px;
  text-decoration: none;
}

.nav_list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav_item {
  margin-left: 14px;
  margin-right: 14px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .dropdown_link {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.3s ease;
}

.dropdown-content .dropdown_link:hover {
  background-color: #00bafc;
}

.dropdown-content .dropdown_link:active {
  background-color: #76c3df;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* .dropdown:hover .dropbtn {
  border-bottom: -3px solid black;
} */


.item_link {
  font-size: 15px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
  padding-bottom: 15px;
  text-decoration: none;
}

.link_active {
  transition: 0.1s ease;
}

.link_active:hover {
  border-bottom: 3px solid black;
}

.link_active:active {
  width: 100%;
  color: #ffffff;
  background-color: #191919;
}

.active {
  padding: 8px 16px;
  color: #ffffff;
  border-radius: 5px;
  transition: 0.3s ease;
  border: 1px solid #00bafc;
  background-color: #00bafc;
}

.active:hover {
  color: #00bafc;
  background-color: #ffffff;
}

.active:active {
  color: #ffffff;
  background-color: #5bc4eb;
}

/* section */

.section {
  display: flex;
  margin-top: 97px;
  align-items: center;
  margin-bottom: 110px;
  justify-content: space-between;
}

.new_main {
  max-width: 470px;
}

 .new_h1 {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 16px;
}

.new_p {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
  margin-bottom: 24px;
}

.new_link {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 5px;
  transition: 0.3s ease;
  text-decoration: none;
  background-color: #00bafc;
  border: 1px solid #00bafc;
}

.new_link:hover {
  color: #ffffff;
  background-color: #56ccf7;
}

.new_link:active {
  color: #ffffff;
  background-color: #85cde7;
}

.new_yotube {
  border-radius: 5px;
  border: 1px solid #ffffff;
}

/* servisec */

.servisec {
  margin-bottom: 155px;
  background-color: #ffffff;
}

.servisec_text {
  max-width: 719px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 86px;
}

.text_h2 {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 16px;
}

.text_p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.servisec_list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
}

.servisec_item {
  max-width: 320px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 48px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  box-shadow: -10px 0px 10px 0px rgba(0, 0, 0, 0.1) ;
}

.servisec_img {
  width: 203px;
  height: 130px;
  margin: 24px 58px 16px 58px;
}

.servisec_h3 {
  cursor: pointer;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 16px
}

.servisec_p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 24px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sevisec_btn {
  padding: 8px 16px;
  color: #ffffff;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #00bafc;
  background-color: #00bafc;
}

.sevisec_btn:hover {
  color: #ffffff;
  background-color: #4dcaf8;
}

.sevisec_btn:active {
  color: #ffffff;
  background-color: #8ed6f0;
}
.servisec-link {
  color: #00bafc;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  border-bottom: 2px solid #00bafc;

}

/* working */

.working_text {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 90px;
}

.working_h2 {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 48px;
}

.working_p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 34px;
}

.working_list {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}

.working_item {
  height: 278px;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  background-repeat: no-repeat;
  background-size: 300px 278px;
  background-position: left 60px bottom;
  background-image: url("../img/step-illlustration.png");
}

.working_lavel {
  width: 540px;
  margin-left: auto;
  margin-right: 40px;
  align-items: center;
}

.working_item_two {
  height: 278px;
  display: flex;
  margin-bottom: 48px;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 300px 278px;
  background-position: right 110px bottom;
  background-image: url("../img/step-illlustration_opa.png");
}

.working_two {
  margin-left: 60px;
  align-items: center;
}

.working_item_there {
  height: 278px;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  background-repeat: no-repeat;
  background-size: 300px 258px;
  background-position: left 60px bottom;
  background-image: url("../img/step-illustration-leptop.png");
}

.working_there {
  margin-left: auto;
  margin-right: 40px;
  align-items: center;
}

.working_item_sri {
  height: 278px;
  display: flex;
  margin-bottom: 48px;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 400px 271px;
  background-position: right 40px top;
  background-image: url("../img/step-illustration-kubok.png");
}

.working_sri {
  margin-left: 60px;
  align-items: center;
}

.working_item_fayf {
  height: 178px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 300px 232px;
  background-position: left 60px top;
  background-image: url("../img/step-illustration-bola.png");
}

.working_fayf {
  margin-top: 140px;
  margin-left: auto;
  margin-right: 40px;
  align-items: center;
}

.working_h3 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 8px;
}

.working_p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

/* order */

.order {
  color: #ffffff;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #00bafc;
}

.order_text {
  padding-bottom: 69px;
}

.order_h2 {
  padding-top: 56px;
  padding-bottom: 16px;
}

.order_p {
  width: 719px;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 16px;
}

.order_input {
  margin: 0 auto;
  max-width: 348px;
  border-radius: 5px;
  background-color: #ffffff;
}

.username, .telephone {
  width: 300px;
  height: 56px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
  border-radius: 5px;
  padding: 16px 0 16px 16px;
  margin: 24px 24px 8px 24px;
  border: 1px solid #ffffff;
  background-color: #f3f3f3;
}

.option {
  width: 300px;
  height: 56px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
  border-radius: 5px;
  padding: 16px 0 16px 16px;
  margin: 24px 24px 16px 24px;
  border: 1px solid #ffffff;
  background-color: #f3f3f3;
}

.order_btn {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 16px;
  line-height: 24px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid #00bafc;
  background-color: #00bafc;
}

.order_btn:hover {
  color: #ffffff;
  background-color: #40c6f7;
}

.order_btn:active {
  color: #ffffff;
  background-color: #87d3ee;
}


/* footer */

.footer {
  margin: 0 auto;
  color: #ffffff;
  max-width: 1300px;
  background-color: #191919;
}

.support {
  display: flex;
}

.foter_left {
  max-width: 320px;
  margin-top: 56px;
  margin-right: 100px;
  margin-bottom: 126px;
}

.foter-h3 {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  line-height: 26px;
  margin-bottom: 16px;
}

.foter-p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  line-height: 24px;
}

.foter_center {
  margin-top: 56px;
  margin-right: 87px;
}

.foter-list {
  list-style-type: none;
}

.foter-link {
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 8px 0 8px;
  text-decoration: none;
}

.foter-right {
  margin-top: 56px;
}

.foter-link:hover {
  color: #00bafc;
}

.foter-link:active {
  color: #00b9fc70;
}

.icon::before {
  content: "";
  display: inline-flex;
  width: 22px;
  height: 23px;
  align-items: center;
  background-image: url("../img/telegram.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  object-fit: cover;
}

.facebook::before {
  content: "";
  display: inline-flex;
  width: 22px;
  height: 23px;
  align-items: center;
  background-image: url("../img/fasebook.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  object-fit: cover;
}

.instagram::before {
  content: "";
  display: inline-flex;
  width: 22px;
  height: 23px;
  align-items: center;
  background-image: url("../img/instagram.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  object-fit: cover;
}
